/*
    Document   : public/sass/sass/main．scss
    Created on : 2015-01-09 05:54 PM
    Author     : jasommer350
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img.bg {
padding: 10px;
min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
position: relative;
}