/*
    Document   : public/sass/sass/photoblog/photoedit．scss
    Created on : 2015-02-05 08:32 PM
    Author     : jasommer350
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

#imageContainer canvas {
    width: 100%;
    height: 100%;
}

.header {
    background-color: #265a88;
    color: white;
    h1 {
        height: 125px;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        small {
            color: white;   
        }
    }
}

.btn {
    width: 120px;
}